
body {
    background-color: blanchedalmond;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-style {
    color: #333;
    border: 4px solid;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}

.recipe-link {
    display: inline-block;
    margin: 20px;
}

.recipe-link img {
    width: 500px;
    height: 400px;
    transition: transform 0.3s ease;
}

.recipe-link img:hover{
    transform: scale(1.1);
}


h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;   
}

.paneer-img {
    transform: rotate(90deg);
    margin-left: 150px;
    margin-top: -150px;
    margin-bottom: -150px;
    margin-right: 150px;
}


p{
    max-width: 700px;
}

.recipe-para {
    text-align: left;
    margin: auto;  
}

.ingredients-note {
    padding-top: 20px;
    margin: auto;
    font-style: italic;
}

ol, 
ul {
    margin: auto;
    text-align: left;
  }

ol {
    max-width: 700px;
  }

ul {
    max-width: 300px;
}
  
li {
    margin-bottom: 10px;
  }




